h1{
    padding-left: 10px; 
    padding: 30px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
    color: black;
}

.estate:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

.activity {
}

.activity > div {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
}

.activity1 {
     text-align: left;
}

.container {
    max-width: 800px;
    background: white;
    margin: 40px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
}

.img{
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid black;
    float: center;
    margin: auto; 
    display: flex;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.1);
    
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    margin-bottom: 15px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.information{
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0);
}

body{
    background-color: #eee;
    line-height: 1.6;
    letter-spacing: 0.5px;
    
}

div{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.name{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

/* .Information, .Profession, .education, .Skills, .Languages {
    background-color: rgba(197, 84, 43, 0.76);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

.Information {
    background-color: rgba(197, 84, 43, 0.76);
    width: 500px;
    height: 450px;
    border-radius: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center; 
}
.profession {
    background-color: rgba(197, 84, 43, 0.76);
    width: 500px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left; 
}
.education {
    background-color: rgba(197, 84, 43, 0.76);

    width: 800px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center; 
    font-style: italic;
} */